<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.khanchych.tutor.util.JsonEncoder">
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d) %highlight(%-5level)[%blue(%t)] %yellow(%C{1.}): %msg%cyan(%n%replace([%mdc]%n){'\[\]\n', ''})</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>